<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width" />  

    <link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' | script_tag }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    
    <header>
        <!--
        <div>
            <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
            <a href="/cart">Check out</a>
        </div>
        --> 

        <div id="shop_name_container" class="medium">
            <div id="shop_name_main" class="caps open_navigation">
                {{ shop.name }} 
            </div>
            <div id="shop_cart" class="caps">
                CART [{{cart.item_count }}]
            </div>
        </div>
    </header>

    <nav>
        <div class="content">

            <br><br>
            <div class="navigation_header">
                <div><a class="black_font" href="/">home</a></div>
                <div class="close_navigation">close</div>
            </div>
            <br><br>

            {% for link in linklists.main-menu.links %}
                <a class="black_font caps medium" href="{{ link.url }}">
                    {{ link.title | upcase }}
                </a><br>
            {% endfor %}
        </div>
    </nav>

    <footer>
        <div class="social_button_container">
            <div class="social_button"><i class="medium fa fa-facebook"></i></div>
            <div class="social_button"><i class="medium fa fa-instagram"></i></div>
            <div class="social_button"><i class="medium fa fa-pinterest"></i></div>
            <div class="social_button"><i class="medium fa fa-tumblr"></i></div>
            <div class="social_button"><i class="medium fa fa-twitter"></i></div>
        </div>
    </footer>

    {{ content_for_layout }}
    
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {{ 'shop.js'  | asset_url | script_tag }}
</body>

</html>
