{% assign page = pages.index %}
{{ page.content }}
{% assign collection = collections.frontpage %}

<div class="splash">
    <div class="hi_velocity large">HI VELOCITY</div>
</div>

<div class="content">
{% for product in collection.products %}

    {% case product.url %}
    {% when product.url contains "SCOTT" %}
        You have scott's shirt!
    {% else %}
        <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
        {{ product.description }}
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
    {% endcase %}
    
    <br><br>

{% else %}
    <p>You have no products in your Frontpage collection. <a href="http://www.shopify.com/admin/custom_collections">Add some.</a></p>
{% endfor %}
</div>
